# Ignore the input and output folders
/input/
/output/

# Ignore all Jupyter Notebook files
*.ipynb

# Ignore the category_mapping.json file
category_mapping.json

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

**/node_modules/