# Ignore the input and output folders
/input/
/output/

# Ignore all Jupyter Notebook files
*.ipynb
table_config.json

# Ignore the category_mapping.json file
category_mapping.json
budget.json
bank_transaction_processor.py

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

**/node_modules/

**/processed_transaction/
**/statements/
**/get_data/